
/*Navigation links*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans', sans-serif;
}
img {
  height: 75px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 40px;
}
ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
nav h2 {
  color: white;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: red;
}
nav li:last-child a {
  background-color: red;
  padding: 6px 12px;
  border-radius: 5px;
}
nav li:last-child a:hover {
  background-color: #cc0000;
  color: black;
}
nav a.active {
  color: red;
  font-weight: bold;
  border-bottom: 2px solid red;
}


/* Bite Deals css*/
.deals-page{
   padding: 40px;
   background: #f8f8f8; 
}

.deal-hero{
    background: linear-gradient(135deg, rgb(0,0,0),#202020);
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.deal-hero h1{
    font-size: 40px;
}

.deal-hero p{
    font-size: 18px;
}


.section-title{
    margin: 30px 0 20px;
    font-size: 28px;
    color: #000;
}

.combo-section{
    padding: 40px;
    background: #fff;
}

.combo-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}

.combo-card{
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.combo-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: auto;
}

.combo-card h4{
    margin: 10px 0;
}

.combo-card h4 span{
    text-decoration: line-through;
    color: gray;
    margin-right: 10px;
}

.combo-card button{
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.combo-card button:hover{
    background: #cc0000;
}

.combo-card:hover{
    transform: translateY(-8px);
}

.deals-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.deal-card{
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card span{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}

.deal-card:hover{
    transform: translateY(-8px);
}

.red{ border-top: 5px solid red;}
.yellow{border-top: 5px solid orange;}
.green{border-top: 5px solid green;}
.blue{border-top: 5px solid blue;}